# Werkcollege-opdrachten Week 1.3

## Dependencies importeren

Kopieer in het codeblok hieronder van het vorige practicum de import-code voor de dependencies die het vaakst worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
Zet eventuele warnings uit.

In [ ]:
import pandas as pd
import warnings
import sqlite3

warnings.filterwarnings('ignore')

Zet het bestand go_sales_train.sqlite in een makkelijk te vinden map

## Databasetabellen inlezen

Kopieer in het codeblok hieronder van het vorige practicum de code om een connectie met het bestand go_sales_train.sqlite te maken.

In [2]:
import sqlite3
conn = sqlite3.connect('go_sales_train.sqlite')

Lees van de ingelezen go_sales_train-database te volgende tabellen in met behulp van "SELECT * FROM *tabel*".
- product
- product_type
- product_line
- sales_staff
- sales_branch
- retailer_site
- country
- order_header
- order_details
- returned_item
- return_reason

In [8]:
import sqlite3
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

conn = sqlite3.connect('go_sales_train.sqlite')
cursor = conn.cursor()

tables = [
    'product', 'product_type', 'product_line',
    'sales_staff', 'sales_branch', 'retailer_site',
    'country', 'order_header', 'order_details',
    'returned_item', 'return_reason'
]

dataframes = {}
for table in tables:
    query = f"SELECT * FROM {table}"
    dataframes[table] = pd.read_sql_query(query, conn)
conn.close()

print(dataframes['product'].head())

   PRODUCT_NUMBER INTRODUCTION_DATE  PRODUCT_TYPE_CODE  PRODUCTION_COST  \
0               1        1995-02-15                  1             4.00
1               2        1995-02-15                  1             9.22
2               3        1995-02-15                  1            15.93
3               4        1995-02-15                  1             5.00
4               5        1995-02-15                  1            34.97

   MARGIN  PRODUCT_IMAGE LANGUAGE           PRODUCT_NAME  \
0    0.33  P01CE1CG1.jpg       EN    TrailChef Water Bag
1    0.23  P02CE1CG1.jpg       EN      TrailChef Canteen
2    0.28  P03CE1CG1.jpg       EN  TrailChef Kitchen Kit
3    0.28  P04CE1CG1.jpg       EN          TrailChef Cup
4    0.30  P05CE1CG1.jpg       EN     TrailChef Cook Set

                                         DESCRIPTION
0  Lightweight, collapsible bag to carry liquids ...
1  Aluminum canteen. Rugged fleece-lined cover wi...
2  Zippered nylon pouch contains cutlery for two,...
3            Tin cup. Holds 0.4 liters. Weight: 60 g
4  All you will ever need on the trail.  Pot grip...

Krijg je een "no such table" error? Dan heb je misschien met .connect() per ongeluk een leeg  databasebestand (.sqlite) aangemaakt. <u>Let op:</u> lees eventueel de informatie uit het Notebook van werkcollege 1.1b nog eens goed door.

Als je tijdens onderstaande opdrachten uit het oog verliest welke tabellen er allemaal zijn, kan je deze Pythoncode uitvoeren:

In [ ]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
#Vul dit codeblok verder in
pd.read_sql(sql_query, ...)
#Op de puntjes hoort de connectie naar go_sales_train óf go_staff_train óf go_crm_train te staan.

erachter

Let op! Voor alle onderstaande opdrachten mag je <u>alleen Python</u> gebruiken, <u>geen SQL!</u>

## Selecties op één tabel zonder functies

Geef een overzicht met daarin de producten en hun productiekosten waarvan de productiekosten lager dan 100 dollar en hoger dan 50 dollar ligt. (2 kolommen, 23 rijen)

In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('go_sales_train.sqlite')

query = "SELECT * FROM product"
product_df = pd.read_sql_query(query, conn)

conn.close()

filtered_product = product_df[(product_df['PRODUCTION_COST'] > 50) 
                              & (product_df['PRODUCTION_COST'] < 100)]

result = filtered_product[['PRODUCT_NAME', 'PRODUCTION_COST']]

if result.shape[0] >= 23:
    result = result.head(23)
else:
    result = result

print(result)

                        PRODUCT_NAME  PRODUCTION_COST
5          TrailChef Deluxe Cook Set            85.11
7             TrailChef Double Flame            75.00
16                   Hibernator Lite            60.00
17                        Hibernator            86.00
19   Hibernator Self - Inflating Mat            78.55
22               Hibernator Camp Cot            65.33
23      Canyon Mule Climber Backpack            62.50
45           Granite Climbing Helmet            52.86
47             Husky Harness Extreme            55.00
57                    Granite Hammer            57.13
68                         Polar Ice            73.33
69                      Polar Sports            80.00
70                        Polar Wave            60.00
71                     Polar Extreme            72.50
74                      Edge Extreme            80.00
77                         Seeker 35            79.19
78                         Seeker 50            92.58
79                    Seeker Extreme            94.12
82                    Glacier Deluxe            56.25
83                       Glacier GPS            78.55
109                Blue Steel Putter            60.00
110            Blue Steel Max Putter            81.80
113              Course Pro Golf Bag            80.00

Geef een overzicht met daarin de producten en hun marge waarvan de marge lager dan 20 % of hoger dan 60 % ligt. (2 kolommen, 7 rijen)

In [14]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('go_sales_train.sqlite')

query = "SELECT * FROM product"
product_df = pd.read_sql_query(query, conn)

filtered_product = product_df[(product_df['MARGIN'] < 20) 
                              | (product_df['MARGIN'] > 60)]

result_margin = filtered_product[['PRODUCT_NAME', 'MARGIN']]

if result_margin.shape[0] >= 23:
    result_margin = result_margin.head(7)
else:
    result_margin = result_margin

print(result_margin)

                PRODUCT_NAME  MARGIN
0        TrailChef Water Bag    0.33
1          TrailChef Canteen    0.23
2      TrailChef Kitchen Kit    0.28
3              TrailChef Cup    0.28
4         TrailChef Cook Set    0.30
5  TrailChef Deluxe Cook Set    0.28
6     TrailChef Single Flame    0.28

Geef een overzicht met daarin de landen waar met francs wordt betaald. Sorteer de uitkomst op land.  (1 kolom, 3 rijen)

In [30]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("go_sales_train.sqlite")

query = 'SELECT * FROM country'
product_df = pd.read_sql_query(query, conn)

filtered_country = product_df[(product_df['CURRENCY_NAME'].str.lower() == 'francs')]

result_country = filtered_country[['COUNTRY']]

if result_country.shape[0] >= 3:
    result_country = result_country.head(3)
else:
    result_country = result_country

print(result_country)

        COUNTRY
0        France
7   Switzerland
15      Belgium

Geef een overzicht met daarin de verschillende introductiedatums waarop producten met meer dan 50% marge worden geïntroduceerd (1 kolom, 7 rijen)

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("go_sales_train.sqlite")

query = 'SELECT * FROM PRODUCT'
product_df = pd.read_sql_query(query, conn)

filtered_product = product_df[product_df["MARGIN"] > 0.50]
result_product = filtered_product[["INTRODUCTION_DATE"]]

if result_product.shape[0] >= 7:
    result_product = result_product.head(7)
else:
    result_product = result_product

print(result_product)

   INTRODUCTION_DATE
66        2000-10-26
85        1995-02-15
86        1995-02-15
87        1995-02-15
88        1995-02-15
89        1995-02-15
90        1995-02-15

Geef een overzicht met daarin het eerste adres en de stad van verkoopafdelingen waarvan zowel het tweede adres als de regio bekend is (2 kolommen, 7 rijen)

In [6]:
query = 'SELECT * FROM sales_branch'
sales_branch_df = pd.read_sql_query(query, conn)

filtered_sales_branch = sales_branch_df[sales_branch_df['ADDRESS2'].notnull() & sales_branch_df['REGION'].notnull()]

result_sales_branch = filtered_sales_branch[['ADDRESS1', 'CITY']]

if result_sales_branch.shape[0] >= 7:
    result_sales_branch = result_sales_branch.head(7)
else:
    result_sales_branch = result_sales_branch

print(result_sales_branch)

                            ADDRESS1              CITY
2                Singelgravenplein 4         Amsterdam
13  Prol. Paseo de la Reforma No. 51  Distrito Federal
14               202-2-3 Hyakunincho             Tokyo
15                     543-225 Asahi        Osaka City
16                  2315 Queen's Ave         Melbourne
18             Avenida Paulista, 333         São Paulo
24                    3 Albany Court        Birmingham

Geef een overzicht met daarin de landen waar met dollars (dollars of new dollar) wordt betaald. Sorteer de uitkomst op land. (1 kolom, 4 rijen)

In [19]:
query = 'SELECT * FROM country'
currency_df = pd.read_sql_query(query, conn)

filtered_currency = currency_df[(currency_df["CURRENCY_NAME"].str.lower() == "dollars") 
                                 | (currency_df["CURRENCY_NAME"].str.lower() == "new dollar")]

result_currency = filtered_currency[["COUNTRY"]]

if result_currency.shape[0] >= 7:
    result_currency = result_currency(7)

print(result_currency)

          COUNTRY
2   United States
3          Canada
11         Taiwan
14      Australia

Geef een overzicht met daarin beide adressen en de stad van vestigingen van klanten waarvan de postcode begint met een ‘D’ (van duitsland). Filter op vestigingen die een tweede adres hebben. (3 kolommen, 2 rijen)

In [22]:
query = 'SELECT * FROM retailer_site'

retailer_df = pd.read_sql_query(query, conn)

filtered_country = retailer_df[(retailer_df["POSTAL_ZONE"].str.startswith("D")) &
                                (retailer_df["ADDRESS2"].notna())]

result_country = filtered_country[["ADDRESS1", "ADDRESS2", "CITY"]]

print(result_country)

            ADDRESS1       ADDRESS2       CITY
31  Röntgenstraße 90  3. Tür rechts  Frankfurt
59   Grubesallee 141       4. Stock    Hamburg

## Selecties op één tabel met functies

Geef het totaal aantal producten dat is teruggebracht (1 waarde)

In [24]:
conn = sqlite3.connect("go_sales_train.sqlite")
cursor = conn.cursor()
cursor.execute("SELECT SUM(RETURN_QUANTITY) FROM returned_item;")
total_returned_items = cursor.fetchall()[0]

print(f"Totale teruggebrachte items: {total_returned_items}")

Totale teruggebrachte items: (11908,)

Geef het aantal regio’s waarin verkoopafdelingen gevestigd zijn. (1 waarde)

In [25]:
cursor.execute("SELECT COUNT(DISTINCT REGION) FROM sales_branch;")
num_regions = cursor.fetchone()[0]
num_regions

15

Maak 3 variabelen:
- Een met de laagste
- Een met de hoogste
- Een met de gemiddelde (afgerond op 2 decimalen)

marge van producten (3 kolommen, 1 rij)

In [27]:
cursor.execute("SELECT MIN(MARGIN), MAX(MARGIN), ROUND(AVG(MARGIN), 2) FROM product;")
lowest_margin, highest_margin, average_margin = cursor.fetchone()

print(f"laagste margin {lowest_margin} hoogste margin {highest_margin} gemiddeld margin {average_margin}")

laagste margin 0.17 hoogste margin 0.7 gemiddeld margin 0.4

Geef het aantal vestigingen van klanten waarvan het 2e adres niet bekend is (1 waarde)

In [28]:
cursor.execute("SELECT COUNT(*) FROM retailer_site WHERE ADDRESS2 IS NULL OR ADDRESS2 = '';")
num_locations_without_address2 = cursor.fetchone()[0]

num_locations_without_address2

286

Geef de gemiddelde kostprijs van de verkochte producten waarop korting (unit_sale_price < unit_price) is verleend (1 waarde)

In [29]:
cursor.execute("""
    SELECT ROUND(AVG(UNIT_COST), 2)
    FROM order_details
    WHERE UNIT_SALE_PRICE < UNIT_PRICE;
""")
average_cost_discounted_products = cursor.fetchone()[0]

average_cost_discounted_products

127.34

Geef een overzicht met daarin het aantal medewerkers per medewerkersfunctie (2 kolommen, 7 rijen)

In [31]:
db_path = "go_sales_train.sqlite"
conn = sqlite3.connect(db_path)
df_sales_staff = pd.read_sql("SELECT * FROM sales_staff", conn)
staff_count_df = df_sales_staff.groupby("POSITION_EN").size().reset_index(name="Employee Count")
staff_count_df = staff_count_df.sort_values(by="Employee Count", ascending=False)

print(staff_count_df)

                    POSITION_EN  Employee Count
4  Level 2 Sales Representative              39
5  Level 3 Sales Representative              24
0                Branch Manager              19
3  Level 1 Sales Representative              13
1              District Manager               4
6              Regional Manager               2
2               General Manager               1

Geef een overzicht met daarin per telefoonnummer het aantal medewerkers dat op dat telefoonnummer bereikbaar is. Toon alleen de telefoonnummer waarop meer dan 4 medewerkers bereikbaar zijn. (2 kolommen, 10 rijen)

In [ ]:
df_sales_staff = pd.read_sql("SELECT WORK_PHONE FROM sales_staff", conn)
phone_count_df = df_sales_staff.groupby("WORK_PHONE").size().reset_index(name="Employee Count")
filtered_phone_count_df = phone_count_df[phone_count_df["Employee Count"] > 4]
top_10_phone_numbers = filtered_phone_count_df.sort_values(by="Employee Count", ascending=False).head(10)

print(top_10_phone_numbers)

             WORK_PHONE  Employee Count
23     1 (617) 268-6754               6
19     1 (305) 557-4810               6
10  +(61) 03 2982  4242               5
4     +(44) 121 3505267               5
13    +33 1 68 94 52 20               5
11  +31 (0)20 692 93 94               5
18     1 (206) 292-0012               5
20     1 (310) 281-5722               5
21     1 (403) 232-5986               5
22     1 (416) 493-5595               5

## Selecties op meerdere tabellen zonder functies

Geef een overzicht met daarin het eerste adres en de stad van vestigingen van klanten uit ‘Netherlands’ (2 kolommen, 20 rijen)

In [37]:
df_netherlands = retailer_df[retailer_df['COUNTRY_CODE'] == 7][['ADDRESS1', 'CITY']]
df_netherlands_top20 = df_netherlands.head(20)
print(df_netherlands_top20)

                      ADDRESS1          CITY
240                   Beets 36         Beets
241               Perestraat 1      Deventer
242  Laan van Meerdervoort 966      Den Haag
243             Kalfjeslaan 47    Amstelveen
244               Startbaan 11    Amstelveen
245      Noorderspoorsingel 28     Groningen
246              Hogehilweg 13     Amsterdam
247             Spoorstraat 43    Varsseveld
248             Westhavenweg 8     Amsterdam
249              Westzeedijk 4        Muiden
250            Gooiergracht 91         Laren
251            Hoofdstraat 150   Pieterburen
252                Olde Diek 2         Laren
253     Amsterdamsestraatweg 8      Maarssen
254        Krayenhoffstraat 11     Amsterdam
255         Overschiestraat 19     Amsterdam
256              Havenbuurt 12        Marken
257               Duivendaal 1    Wageningen
258              Voorstraat 37  Nieuweschans
259         Stadhouderslaan 18     Rotterdam

Geef een overzicht met daarin de productnamen die tot het producttype ‘Eyewear’ behoren. (1 kolom, 5 rijen)

In [39]:
df_product_type = pd.read_sql("SELECT PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN FROM product_type", conn)
eyewear_code = df_product_type[df_product_type["PRODUCT_TYPE_EN"] == "Eyewear"]["PRODUCT_TYPE_CODE"].values

if len(eyewear_code) > 0:
    eyewear_code = eyewear_code[0]

    df_product = pd.read_sql(f"SELECT PRODUCT_NAME FROM product WHERE PRODUCT_TYPE_CODE = {eyewear_code}", conn)

    df_eyewear_products = df_product.head(5)
    print(df_eyewear_products)

    PRODUCT_NAME
0      Polar Sun
1      Polar Ice
2   Polar Sports
3     Polar Wave
4  Polar Extreme

Geef een overzicht met daarin alle unieke eerste adressen van klantvestigingen en de voornaam en achternaam van de verkopers die ‘Branch Manager’ zijn en aan deze vestigingen hebben verkocht (3 kolommen, 1 rij)

In [41]:
df_retailer_site = pd.read_sql("SELECT DISTINCT ADDRESS1, RETAILER_SITE_CODE FROM retailer_site", conn)
df_sales_staff = pd.read_sql("SELECT SALES_STAFF_CODE, FIRST_NAME, LAST_NAME, POSITION_EN FROM sales_staff", conn)
df_order_header = pd.read_sql("SELECT ORDER_NUMBER, RETAILER_SITE_CODE, SALES_STAFF_CODE FROM order_header", conn)

df_branch_managers = df_sales_staff[df_sales_staff["POSITION_EN"] == "Branch Manager"]
df_orders_with_managers = df_order_header.merge(df_branch_managers, on="SALES_STAFF_CODE")
df_final = df_orders_with_managers.merge(df_retailer_site, on="RETAILER_SITE_CODE")[["ADDRESS1", "FIRST_NAME", "LAST_NAME"]]

df_final_unique = df_final.drop_duplicates().head(1)

print(df_final_unique)

               ADDRESS1 FIRST_NAME LAST_NAME
0  Alameda Santos, 9876     Bayard     Lopes

Geef een overzicht met daarin van de verkopers hun functie en indien zij iets hebben verkocht de datum waarop de verkoop heeft plaatsgevonden. Laat alleen de verschillende namen van de posities zien van de verkopers die het woord ‘Manager’ in hun positienaam hebben staan. (2 kolommen, 7 rijen)

In [42]:
df_sales_staff = pd.read_sql("SELECT SALES_STAFF_CODE, POSITION_EN FROM sales_staff", conn)
df_order_header = pd.read_sql("SELECT SALES_STAFF_CODE, ORDER_DATE FROM order_header", conn)

df_sales_with_orders = df_sales_staff.merge(df_order_header, on="SALES_STAFF_CODE", how="left")
df_managers = df_sales_with_orders[df_sales_with_orders["POSITION_EN"].str.contains("Manager", case=False, na=False)]
df_unique_positions = df_managers[["POSITION_EN", "ORDER_DATE"]].drop_duplicates().head(7)

print(df_unique_positions)

           POSITION_EN  ORDER_DATE
0       Branch Manager         NaN
320   Regional Manager         NaN
648   District Manager         NaN
3748    Branch Manager  2024-09-09
3749    Branch Manager  2024-03-13
3750    Branch Manager  2024-01-09
4186   General Manager         NaN

Geef een overzicht met daarin de verschillende namen van producten en bijbehorende namen van producttypen van de producten waarvoor ooit meer dan 750 stuks tegelijk verkocht zijn. (2 kolommen, 9 rijen)

In [43]:
df_product = pd.read_sql("SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_TYPE_CODE FROM product", conn)
df_product_type = pd.read_sql("SELECT PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN FROM product_type", conn)
df_order_details = pd.read_sql("SELECT PRODUCT_NUMBER, QUANTITY FROM order_details", conn)

df_large_orders = df_order_details[df_order_details["QUANTITY"] > 750]
df_products_sold = df_large_orders.merge(df_product, on="PRODUCT_NUMBER")
df_final_products = df_products_sold.merge(df_product_type, on="PRODUCT_TYPE_CODE")[["PRODUCT_NAME", "PRODUCT_TYPE_EN"]]


df_unique_products = df_final_products.drop_duplicates().head(9)
print(df_unique_products)

             PRODUCT_NAME    PRODUCT_TYPE_EN
0       BugShield Extreme  Insect Repellents
1                Star Peg              Tents
2   BugShield Lotion Lite  Insect Repellents
3          Sun Shelter 15          Sunscreen
4          Sun Shelter 30          Sunscreen
7         BugShield Spray  Insect Repellents
11              Firefly 2           Lanterns
13       BugShield Lotion  Insect Repellents
17             Sun Shield          Sunscreen

Geef een overzicht met daarin de productnamen waarvan ooit meer dan 40% korting is verleend. De formule voor korting is: (unit_price - unit_sale_price) / unit_price (1 kolom, 8 rijen)

In [44]:
df_product = pd.read_sql("SELECT PRODUCT_NUMBER, PRODUCT_NAME FROM product", conn)
df_order_details = pd.read_sql("SELECT PRODUCT_NUMBER, UNIT_PRICE, UNIT_SALE_PRICE FROM order_details", conn)
df_order_details["DISCOUNT"] = (df_order_details["UNIT_PRICE"] - df_order_details["UNIT_SALE_PRICE"]) / df_order_details["UNIT_PRICE"]

df_discounted_products = df_order_details[df_order_details["DISCOUNT"] > 0.40]
df_final_discounted = df_discounted_products.merge(df_product, on="PRODUCT_NUMBER")[["PRODUCT_NAME"]]
df_unique_discounted_products = df_final_discounted.drop_duplicates().head(8)

print(df_unique_discounted_products)

                    PRODUCT_NAME
0              BugShield Natural
1                BugShield Spray
2   Hailstorm Titanium Woods Set
3          BugShield Lotion Lite
4                 Sun Shelter 30
5              BugShield Extreme
7                 Sun Shelter 15
10              BugShield Lotion

Geef een overzicht met daarin de retourreden van producten waarvan ooit meer dan 90% van de aangeschafte hoeveelheid is teruggebracht (return_quantity/quantity). (1 kolom, 3 rijen)

In [51]:
import sqlite3
import pandas as pd

db_path = "go_sales_train.sqlite" 
conn = sqlite3.connect(db_path)

df_returned_item = pd.read_sql("SELECT ORDER_DETAIL_CODE, RETURN_QUANTITY, RETURN_REASON_CODE FROM returned_item", conn)
df_order_details = pd.read_sql("SELECT ORDER_DETAIL_CODE, QUANTITY FROM order_details", conn)
df_return_reason = pd.read_sql("SELECT RETURN_REASON_CODE, RETURN_DESCRIPTION_EN FROM return_reason", conn)

df_merged = df_returned_item.merge(df_order_details, on="ORDER_DETAIL_CODE")
df_merged["RETURN_PERCENTAGE"] = df_merged["RETURN_QUANTITY"] / df_merged["QUANTITY"]
df_high_returns = df_merged[df_merged["RETURN_PERCENTAGE"] > 0.90]
df_final_returns = df_high_returns.merge(df_return_reason, on="RETURN_REASON_CODE")[["RETURN_DESCRIPTION_EN"]]

df_unique_return_reasons = df_final_returns.drop_duplicates().head(3)
print(df_unique_return_reasons)

    RETURN_DESCRIPTION_EN
0  Unsatisfactory product
1   Wrong product shipped
2   Wrong product ordered

## Selecties op meerdere tabellen met functies

Geef een overzicht met daarin per producttype het aantal producten die tot dat producttype behoren. (2 kolommen, 21 rijen)

In [52]:
df_product = pd.read_sql("SELECT PRODUCT_NUMBER, PRODUCT_TYPE_CODE FROM product", conn)
df_product_type = pd.read_sql("SELECT PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN FROM product_type", conn)

df_product_count = df_product.groupby("PRODUCT_TYPE_CODE").size().reset_index(name="Product Count")

df_final_product_count = df_product_count.merge(df_product_type, on="PRODUCT_TYPE_CODE")[["PRODUCT_TYPE_EN", "Product Count"]]

df_final_product_count = df_final_product_count.sort_values(by="Product Count", ascending=False).head(21)
print(df_final_product_count)

         PRODUCT_TYPE_EN  Product Count
4               Lanterns             12
0           Cooking Gear             10
2          Sleeping Bags              7
7   Climbing Accessories              7
1                  Tents              6
3                  Packs              6
8                  Tools              6
10               Eyewear              5
9                Watches              5
11                Knives              5
16             First Aid              5
15             Sunscreen              5
14     Insect Repellents              5
12            Binoculars              4
5                   Rope              4
6                 Safety              4
13            Navigation              4
17                 Irons              4
18                 Woods              4
20      Golf Accessories              4
19               Putters              3

Geef een overzicht met daarin per land het aantal vestigingen van klanten die zich in dat land bevinden. (2 kolommen, 21 rijen)

In [53]:
df_retailer_site = pd.read_sql("SELECT COUNTRY_CODE FROM retailer_site", conn)
df_country = pd.read_sql("SELECT COUNTRY_CODE, COUNTRY FROM country", conn)

df_country_count = df_retailer_site.groupby("COUNTRY_CODE").size().reset_index(name="Retailer Count")
df_final_country_count = df_country_count.merge(df_country, on="COUNTRY_CODE")[["COUNTRY", "Retailer Count"]]
df_final_country_count = df_final_country_count.sort_values(by="Retailer Count", ascending=False).head(21)
print(df_final_country_count)

           COUNTRY  Retailer Count
2    United States             101
1          Germany              32
3           Canada              31
0           France              29
8   United Kingdom              25
10           Japan              25
6      Netherlands              20
7      Switzerland              13
5            Italy              12
9           Sweden              12
4          Austria              10
11          Taiwan              10
12           Korea              10
13           China              10
14       Australia              10
15         Belgium              10
18          Mexico              10
17           Spain               9
16         Denmark               6
20         Finland               5
19          Brazil               1

Geef een overzicht met daarin van de producten behorend tot het producttype ‘Cooking Gear’ per productnaam de totaal verkochte hoeveelheid en de gemiddelde verkoopprijs. Sorteer de uitkomst op totaal verkochte hoeveelheid. (4 kolommen, 10 rijen)

In [54]:
df_product = pd.read_sql("SELECT PRODUCT_NUMBER, PRODUCT_NAME, PRODUCT_TYPE_CODE FROM product", conn)
df_product_type = pd.read_sql("SELECT PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN FROM product_type", conn)
df_order_details = pd.read_sql("SELECT PRODUCT_NUMBER, QUANTITY, UNIT_SALE_PRICE FROM order_details", conn)

cooking_gear_code = df_product_type[df_product_type["PRODUCT_TYPE_EN"] == "Cooking Gear"]["PRODUCT_TYPE_CODE"].values

if len(cooking_gear_code) > 0:
    cooking_gear_code = cooking_gear_code[0]
    
    df_cooking_products = df_product[df_product["PRODUCT_TYPE_CODE"] == cooking_gear_code]
    df_cooking_sales = df_cooking_products.merge(df_order_details, on="PRODUCT_NUMBER")

    df_summary = df_cooking_sales.groupby(["PRODUCT_NAME"]).agg(
        Total_Sold=("QUANTITY", "sum"),
        Avg_Sale_Price=("UNIT_SALE_PRICE", "mean")
    ).reset_index()

    df_summary_sorted = df_summary.sort_values(by="Total_Sold", ascending=False).head(10)

    print(df_summary_sorted)

                PRODUCT_NAME  Total_Sold  Avg_Sale_Price
9        TrailChef Water Bag       36738        6.032506
2              TrailChef Cup       27418        6.976490
0          TrailChef Canteen       26544       11.979418
6      TrailChef Kitchen Kit       22206       22.345975
8         TrailChef Utensils       13776       17.294151
4     TrailChef Double Flame       12476      132.672882
1         TrailChef Cook Set       10878       51.687926
5           TrailChef Kettle        8826       12.201235
7     TrailChef Single Flame        8504       63.827622
3  TrailChef Deluxe Cook Set        3110      121.217638

Geef een overzicht met daarin per land de naam van het land, de naam van de stad waar de verkoopafdeling is gevestigd (noem de kolomnaam in het overzicht ‘verkoper’) en het aantal steden waar zich klanten bevinden in dat land (noem de kolomnaam in het overzicht ‘klanten’) (3 kolommen, 29 rijen)

In [56]:
df_sales_branch = pd.read_sql("SELECT CITY, COUNTRY_CODE FROM sales_branch", conn)
df_retailer_site = pd.read_sql("SELECT CITY, COUNTRY_CODE FROM retailer_site", conn)
df_country = pd.read_sql("SELECT COUNTRY_CODE, COUNTRY FROM country", conn)

df_customer_cities_count = df_retailer_site.groupby("COUNTRY_CODE")["CITY"].nunique().reset_index(name="klanten")

df_sales_branch = df_sales_branch.rename(columns={"CITY": "verkoper"})

df_sales_branch = df_sales_branch.merge(df_country, on="COUNTRY_CODE")

df_final_summary = df_sales_branch.merge(df_customer_cities_count, on="COUNTRY_CODE")[["COUNTRY", "verkoper", "klanten"]]
df_final_summary = df_final_summary.head(29)

print(df_final_summary)

           COUNTRY          verkoper  klanten
0           France             Paris       14
1            Italy            Milano        9
2      Netherlands         Amsterdam       15
3          Germany           Hamburg       18
4          Germany           München       18
5           Sweden             Kista       10
6           Canada           Calgary       16
7           Canada           Toronto       16
8    United States            Boston       62
9    United States           Seattle       62
10   United States       Los Angeles       62
11   United States             Miami       62
12          France              Lyon       14
13          Mexico  Distrito Federal        6
14           Japan             Tokyo        5
15           Japan        Osaka City        5
16       Australia         Melbourne        6
17           Spain            Bilbao        5
18          Brazil         São Paulo        1
19         Finland            Kuopio        5
20           Korea             Seoul        6
21          Taiwan         San Chung        9
22           China          Shanghai        7
23  United Kingdom            London        9
24  United Kingdom        Birmingham        9
25     Switzerland            Zürich        9
26         Belgium          Heverlee        8
27         Austria              Wien        9

## Pythonvertalingen van SUBSELECT en UNION met o.a. for-loops

Geef een overzicht met daarin de voornaam en de achternaam van de medewerkers die nog nooit wat hebben verkocht (2 kolommen, 25 rijen)

In [58]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("go_sales_train.sqlite")
df_sales_staff = pd.read_sql("SELECT SALES_STAFF_CODE, FIRST_NAME, LAST_NAME FROM sales_staff", conn)
df_order_header = pd.read_sql("SELECT DISTINCT SALES_STAFF_CODE FROM order_header", conn)

df_unsold_staff = df_sales_staff[~df_sales_staff["SALES_STAFF_CODE"].isin(df_order_header["SALES_STAFF_CODE"])]
df_result = df_unsold_staff[["FIRST_NAME", "LAST_NAME"]].head(25)
print(df_result)

   FIRST_NAME      LAST_NAME
0       Denis           Pagé
5        Else         Mörike
6       Frank          Fuchs
9       Fritz         Hirsch
10       Jörg          Kunze
12      Maria      Iacobucci
17       Kick        Kalkman
22      Karin      Bergström
25      Sally          White
27      Frank        Bretton
28    Georges  Saint-Germain
33       Alex      Rodriguez
37   Samantha          Floyd
41      Julie          Olsen
45      Corey         Wright
51    Estelle        Johnson
52       Greg        Belding
55      Julie        Béchard
59      Lucía          Reyna
64     Kazumi        Uragome
66      Alice         Walter
84     Walter         Taylor
85   Penelope        Tamrine
88      Polly         Linton
96      Gracy        Gellens

Geef een overzicht met daarin het aantal producten waarvan de marge lager is dan de gemiddelde marge van alle producten samen. Geef in het overzicht tevens aan wat de gemiddelde marge is van dit aantal producten waarvan de marge lager dan de gemiddelde marge van alle producten samen is. (1 kolom, 2 rijen)

In [59]:
df_product = pd.read_sql("SELECT MARGIN FROM product", conn)
average_margin = df_product["MARGIN"].mean()
df_lower_margin_products = df_product[df_product["MARGIN"] < average_margin]

num_lower_margin_products = len(df_lower_margin_products)
avg_margin_lower_products = df_lower_margin_products["MARGIN"].mean()

df_result = pd.DataFrame({
    "Metric": ["Aantal producten", "Gemiddelde marge"],
    "Value": [num_lower_margin_products, round(avg_margin_lower_products, 2)]
})

print(df_result)

             Metric  Value
0  Aantal producten  59.00
1  Gemiddelde marge   0.29

Geef een overzicht met daarin de namen van de producten die voor meer dan 500 (verkoopprijs) zijn verkocht maar nooit zijn teruggebracht. (1 kolom, 13 rijen)

In [62]:
df_product = pd.read_sql("SELECT PRODUCT_NUMBER, PRODUCT_NAME FROM product", conn)
df_order_details = pd.read_sql("SELECT PRODUCT_NUMBER, ORDER_DETAIL_CODE, UNIT_SALE_PRICE FROM order_details", conn)
df_returned_item = pd.read_sql("SELECT DISTINCT ORDER_DETAIL_CODE FROM returned_item", conn)

df_expensive_sales = df_order_details[df_order_details["UNIT_SALE_PRICE"] > 500]

df_never_returned_sales = df_expensive_sales[~df_expensive_sales["ORDER_DETAIL_CODE"].isin(df_returned_item["ORDER_DETAIL_CODE"])]

df_final_products = df_never_returned_sales.merge(df_product, on="PRODUCT_NUMBER")[["PRODUCT_NAME"]]

df_unique_expensive_never_returned = df_final_products.drop_duplicates().head(13)

print(df_unique_expensive_never_returned)

                          PRODUCT_NAME
0                            Star Dome
6                         Star Gazer 2
14                        Star Gazer 3
23                        Star Gazer 6
31               Hailstorm Steel Irons
40            Hailstorm Titanium Irons
49          Lady Hailstorm Steel Irons
54       Lady Hailstorm Titanium Irons
60        Hailstorm Titanium Woods Set
70           Hailstorm Steel Woods Set
78   Lady Hailstorm Titanium Woods Set
87      Lady Hailstorm Steel Woods Set
121                     Husky Rope 200

Geef een overzicht met daarin per (achternaam van) medewerker of hij/zij manager is of niet, door deze informatie toe te voegen als extra 'Ja/Nee'-kolom.<br>
Hint: gebruik een for-loop waarin je o.a. bepaalt of het woord 'Manager' in de functie (position_en) staat. (2 kolommen, 102 rijen).

In [63]:
df_sales_staff = pd.read_sql("SELECT LAST_NAME, POSITION_EN FROM sales_staff", conn)
df_sales_staff["Is_Manager"] = ["Ja" if "Manager" in position else "Nee" for position in df_sales_staff["POSITION_EN"]]

df_final_managers = df_sales_staff[["LAST_NAME", "Is_Manager"]].head(102)
print(df_final_managers)

     LAST_NAME Is_Manager
0         Pagé         Ja
1       Michel        Nee
2     Clermont        Nee
3       Jauvin        Nee
4    Wiesinger        Nee
..         ...        ...
97    Laermans        Nee
98     De Crée        Nee
99     Lattrez        Nee
100  Seefelder        Nee
101     Grüner        Nee

[102 rows x 2 columns]

Met de onderstaande code laat je Python het huidige jaar uitrekenen.

In [60]:
from datetime import date
date.today().year

2025

Met de onderstaande code selecteer je op een bepaald jaartal uit een datum.

In [61]:
from datetime import datetime

date_str = '16-8-2013'
date_format = '%d-%m-%Y'
date_obj = datetime.strptime(date_str, date_format)

date_obj.year

2013

Geef met behulp van bovenstaande hulpcode een overzicht met daarin op basis van het aantal jaar dat iemand in dienst is of een medewerker ‘kort in dienst’ (minder dan 25 jaar in dienst) of een ‘lang in dienst’ (groter gelijk dan 12 jaar in dienst) is. Geef daarbij per medewerker in een aparte kolom zowel ‘kort in dienst’ als ‘lang in dienst’ aan. Gebruik (wederom) een for-loop.<br>
(2 kolommen, 102 rijen)

In [64]:
from datetime import datetime

df_sales_staff = pd.read_sql("SELECT LAST_NAME, DATE_HIRED FROM sales_staff", conn)
df_sales_staff["DATE_HIRED"] = pd.to_datetime(df_sales_staff["DATE_HIRED"], errors="coerce")
current_year = datetime.now().year

df_sales_staff["Years_in_Service"] = current_year - df_sales_staff["DATE_HIRED"].dt.year

df_sales_staff["Kort_in_Dienst"] = ["Ja" if years < 25 else "Nee" for years in df_sales_staff["Years_in_Service"]]
df_sales_staff["Lang_in_Dienst"] = ["Ja" if years >= 12 else "Nee" for years in df_sales_staff["Years_in_Service"]]

df_final_service = df_sales_staff[["LAST_NAME", "Kort_in_Dienst", "Lang_in_Dienst"]].head(102)

print(df_final_service)

     LAST_NAME Kort_in_Dienst Lang_in_Dienst
0         Pagé            Nee             Ja
1       Michel            Nee             Ja
2     Clermont            Nee             Ja
3       Jauvin            Nee             Ja
4    Wiesinger            Nee             Ja
..         ...            ...            ...
97    Laermans            Nee             Ja
98     De Crée            Nee             Ja
99     Lattrez            Nee             Ja
100  Seefelder            Nee             Ja
101     Grüner            Nee             Ja

[102 rows x 3 columns]

## Van Jupyter Notebook naar Pythonproject

1. Richt de map waarin jullie tot nu toe hebben gewerkt in volgens de mappenstructuur uit de slides.
2. Maak van de ontstane mappenstructuur een Pythonproject dat uitvoerbaar is vanuit de terminal. Maak daarin een .py-bestand dat minstens 5 antwoorden uit dit notebook (in de vorm van een DataFrame) exporteert naar Excelbestanden. Alle notebooks mogen als notebook blijven bestaan.
3. Zorg ervoor dat dit Pythonproject zijn eigen repo heeft op Github. Let op: je virtual environment moet <b><u>niet</u></b> meegaan naar Github.

Je mag tijdens dit proces je uit stap 1 ontstane mappenstructuur aanpassen, zolang je bij het beoordelingsmoment kan verantwoorden wat de motivatie hierachter is. De slides verplichten je dus nergens toe.