# Werkcollege-opdrachten Week 1.2

## Voorbereiding

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [1]:

import warnings
warnings.simplefilter('ignore')

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales_train.sqlite
- go_crm_train.sqlite
- go_staff_train.sqlite

Bestudeer de bovenste 3 bestanden in DB Browser (SQLite), <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales_train.sqlite.

In [8]:
import sqlite3

conn = sqlite3.connect('go_sales_train.sqlite')

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales_train zitten.

In [16]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
#Vul dit codeblok verder in
conn = sqlite3.connect('go_sales_train.sqlite')
cursor = conn.cursor()
cursor.execute(sql_query)
tables = cursor.fetchall()
for table in tables:
    print(table[0])

country
order_details
order_header
order_method
product
product_line
product_type
retailer_site
return_reason
returned_item
sales_branch
sales_staff

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <u>Let goed op:</u> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [4]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('go_sales_train.sqlite')
c = conn.cursor()
sql_query = "SELECT * FROM sales_staff"
c.execute(sql_query)
rows = c.fetchall()


column_names = [description[0] for description in c.description]

sales_staff_df = pd.DataFrame(rows, columns=column_names)
print(sales_staff_df.head())
conn.close()

   SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
0                 4      Denis       Pagé                Branch Manager
1                 5  Élizabeth     Michel  Level 3 Sales Representative
2                 6      Émile   Clermont  Level 1 Sales Representative
3                 7    Étienne     Jauvin  Level 2 Sales Representative
4                12    Elsbeth  Wiesinger  Level 2 Sales Representative

          WORK_PHONE  EXTENSION                FAX                   EMAIL  \
0  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60       DPage@grtd123.com
1  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60     EMichel@grtd123.com
2  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60   EClermont@grtd123.com
3  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60     EJauvin@grtd123.com
4  +(49) 40 663 1990     1818.0  +(49) 40 663 4571  EWiesinger@grtd123.com

   DATE_HIRED  SALES_BRANCH_CODE
0  1996-11-03                  6
1  1995-06-08                  6
2  1998-04-07                  6
3  1997-08-16                  6
4  1997-02-27                 13

## Datumkolommen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [ ]:
sales_staff['DATE_HIRED'] = pd.to_datetime(sales_staff['DATE_HIRED'])
sales_staff.dtypes

NameError: name 'sales_staff' is not defined

Als we hier het jaar uit willen halen, schrijven we:

In [ ]:
pd.DatetimeIndex(sales_staff['DATE_HIRED']).quarter

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [23]:
data =  {
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com'],
}
data = pd.DataFrame(data)
data

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [5]:
data =  {
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com'],
}
data = pd.DataFrame(data)

sales_staff = data['SALES_STAFF_CODE']
work_phone = data['WORK_PHONE']
extension = data['EXTENSION']
fax = data['FAX']
email = data['EMAIL']

contact_details = pd.concat([sales_staff, work_phone, extension, fax, email, data], axis=1)

print(contact_details)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL  \
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [10]:
data =  {
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5', 'S6'],
    'WORK_PHONE': [1, 1, 0, 1, 0, 1],
    'EXTENSION': [123, 456, 789, 101, 112, 113],
    'FAX': [321, 654, 987, 101, 112, 113],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com', 'example6@123.com'],
}
data = pd.DataFrame(data)

sales_staff = data['SALES_STAFF_CODE']
work_phone = data['WORK_PHONE']
extension = data['EXTENSION']
fax = data['FAX']
email = data['EMAIL']

contact_details = pd.concat([sales_staff, work_phone, extension, fax, email, data], axis=1)

top_5_contact_details = contact_details.head(5)

print(top_5_contact_details)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL  \
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [20]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})


top_5_contact_details = contact_details.head(5)

first_language_list = ['EN'] * 5

first_language_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')

updated_contact_details = pd.concat([top_5_contact_details, first_language_series], axis=1)

print(updated_contact_details)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL  \
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

  FIRST_LANGUAGE
0             EN
1             EN
2             EN
3             EN
4             EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

top_5_contact_details = contact_details.head(5)
first_language_list = ['EN'] * 5
first_language_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')
updated_contact_details = pd.concat([top_5_contact_details, first_language_series], axis=1)


top_5_contact_details = updated_contact_details.head(5)

second_language_dict = {
    0: 'FR',
    1: 'FR',
    2: 'FR',
    3: 'DE',
    4: 'DE'
}

second_language_series = pd.Series(second_language_dict, name='SECOND_LANGUAGE')

new_contact_details = pd.concat([top_5_contact_details, second_language_series], axis=1)

print(new_contact_details)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL  \
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

  FIRST_LANGUAGE SECOND_LANGUAGE
0             EN              FR
1             EN              FR
2             EN              FR
3             EN              DE
4             EN              DE

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [22]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

top_5_contact_details = contact_details.head(5)
first_language_list = ['EN'] * 5
first_language_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')

updated_contact_details = pd.concat([top_5_contact_details, first_language_series], axis=1)
top_5_contact_details = updated_contact_details.head(5)
second_language_dict = {
    0: 'FR',
    1: 'FR',
    2: 'FR',
    3: 'DE',
    4: 'DE'
}
second_language_series = pd.Series(second_language_dict, name='SECOND_LANGUAGE')
new_contact_details = pd.concat([top_5_contact_details, second_language_series], axis=1)


third_language_dict = {'THIRD_LANGUAGE' : ['NL', 'NL','JPN','JPN','KOR']}
third_language_series = pd.DataFrame(third_language_dict)

final_contact_details = pd.concat([new_contact_details, third_language_series], axis=1)

print(final_contact_details)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL  \
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com

  FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0             EN              FR             NL
1             EN              FR             NL
2             EN              FR            JPN
3             EN              DE            JPN
4             EN              DE            KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [26]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

new_row = pd.DataFrame({
    'SALES_STAFF_CODE': ['S6'],
    'WORK_PHONE': [1],
    'EXTENSION': [113],
    'FAX': [113],
    'EMAIL': ['example6@123.nl']
})

sales_staff = pd.concat([sales_staff, new_row], ignore_index=True)

print(sales_staff)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com
5               S6           1        113  113   example6@123.nl

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [35]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'FIRST_NAME': ['John', 'Jane', 'Alex'],
    'LAST_NAME': ['Doe', 'Smith', 'Brown'],
    'WORK_PHONE': [1, 1, 0],
    'EXTENSION': [123, 456, 789],
    'FAX': [321, 654, 987],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com']
})

contact_details['FULL_NAME'] = contact_details['FIRST_NAME'] + ' ' + contact_details['LAST_NAME']

print (contact_details)

  SALES_STAFF_CODE FIRST_NAME LAST_NAME  WORK_PHONE  EXTENSION  FAX  \
0               S1       John       Doe           1        123  321
1               S2       Jane     Smith           1        456  654
2               S3       Alex     Brown           0        789  987

              EMAIL   FULL_NAME
0  example1@123.com    John Doe
1  example2@123.com  Jane Smith
2  example3@123.com  Alex Brown

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [36]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'FIRST_NAME': ['John', 'Jane', 'Alex'],
    'LAST_NAME': ['Doe', 'Smith', 'Brown'],
    'WORK_PHONE': [1, 1, 0],
    'EXTENSION': [123, 456, 789],
    'FAX': [321, 654, 987],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com']
})

data_types = contact_details.dtypes

print(data_types)

SALES_STAFF_CODE    object
FIRST_NAME          object
LAST_NAME           object
WORK_PHONE           int64
EXTENSION            int64
FAX                  int64
EMAIL               object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [37]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'FIRST_NAME': ['John', 'Jane', 'Alex'],
    'LAST_NAME': ['Doe', 'Smith', 'Brown'],
    'WORK_PHONE': [1, 1, 0],
    'EXTENSION': [123, 456, 789],
    'FAX': [321, 654, 987],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com']
})

sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

SALES_STAFF_CODE    object
FIRST_NAME          object
LAST_NAME           object
WORK_PHONE           int64
EXTENSION            int64
FAX                  int64
EMAIL               object
FULL_NAME           object
dtype: object

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [9]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'FIRST_NAME': ['John', 'Jane', 'Alex'],
    'LAST_NAME': ['Doe', 'Smith', 'Brown'],
    'WORK_PHONE': [1, 1, 0],
    'EXTENSION': [123, 456, 789],
    'FAX': [321, 654, 987],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com']
})

contact_details['EXTENSION'] = contact_details['EXTENSION'].astype(float)
contact_details.dtypes

SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
WORK_PHONE            int64
EXTENSION           float64
FAX                   int64
EMAIL                object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [3]:
import pandas as pd

contact_details = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'FIRST_NAME': ['John', 'Jane', 'Alex'],
    'LAST_NAME': ['Doe', 'Smith', 'Brown'],
    'WORK_PHONE': [1, 1, 0],
    'EXTENSION': [123, 456, 789],
    'FAX': [321, 654, 987],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com']
})

contact_details['EXTENSION'] = contact_details['EXTENSION'] + 1

print(contact_details)

  SALES_STAFF_CODE FIRST_NAME LAST_NAME  WORK_PHONE  EXTENSION  FAX  \
0               S1       John       Doe           1        124  321
1               S2       Jane     Smith           1        457  654
2               S3       Alex     Brown           0        790  987

              EMAIL
0  example1@123.com
1  example2@123.com
2  example3@123.com

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [10]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4'],
    'ROLE': ['Branch Manager', 'Sales Executive', 'Branch Manager', 'Sales Associate'],
    'EMAIL': ['s1@example.com', 's2@example.com', 's3@example.com', 's4@example.com']
})

sales_staff['ROLE'] = sales_staff['ROLE'].replace('Branch Manager', 'General Manager')

print(sales_staff)

  SALES_STAFF_CODE             ROLE           EMAIL
0               S1  General Manager  s1@example.com
1               S2  Sales Executive  s2@example.com
2               S3  General Manager  s3@example.com
3               S4  Sales Associate  s4@example.com

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [11]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'POSITION_EN': ['Branch Manager', 'Sales Executive', 'Sales Associate'],
    'EMAIL': ['s1@example.com', 's2@example.com', 's3@example.com']
})

sales_staff = sales_staff.rename(columns={'POSITION_EN' : 'POSITION'})
print(sales_staff)

  SALES_STAFF_CODE         POSITION           EMAIL
0               S1   Branch Manager  s1@example.com
1               S2  Sales Executive  s2@example.com
2               S3  Sales Associate  s3@example.com

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [14]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': [f'S{i}' for i in range(1, 105)],
    'POSITION': ['Employee'] * 104,
    'EMAIL': [f's{i}@example.com' for i in range(1, 105)]
})

sales_staff = sales_staff.drop(index={99,100,101})

print(sales_staff)

    SALES_STAFF_CODE  POSITION             EMAIL
0                 S1  Employee    s1@example.com
1                 S2  Employee    s2@example.com
2                 S3  Employee    s3@example.com
3                 S4  Employee    s4@example.com
4                 S5  Employee    s5@example.com
..               ...       ...               ...
96               S97  Employee   s97@example.com
97               S98  Employee   s98@example.com
98               S99  Employee   s99@example.com
102             S103  Employee  s103@example.com
103             S104  Employee  s104@example.com

[101 rows x 3 columns]

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [15]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3'],
    'POSITION': ['Manager', 'Executive', 'Associate'],
    'FAX': [123456, 789101, 112131],
    'EMAIL': ['s1@example.com', 's2@example.com', 's3@example.com']
})

sales_staff = sales_staff.drop(columns=['FAX'])

print(sales_staff)

  SALES_STAFF_CODE   POSITION           EMAIL
0               S1    Manager  s1@example.com
1               S2  Executive  s2@example.com
2               S3  Associate  s3@example.com